img{
	display: block;
}
#container{
    width: 1002px;
    background: gray;
    margin: 0 auto;
}
#header{
    height: 128px;
    background: brown url(images/top_bg.jpg);
}
#nav li{
	list-style: none;
	float: left;
	margin-right: 2px;
	width: 90px;
	height: 37px;
	background: ;
}
#nav li a{
	background: url(images/nav_bg.gif);
	width: 90px;
	height: 37px;
	display:block;

}
#banner{
    height: 237px;
    background: blue;
    margin: 10px 0;
}
#main{
    height: 464px;
    /* background: green; */
}
#lside{
    width: 694px;
    float: left;
    height: 464px;
    background: pink;
}
#rside{
    width: 294px;
    float:right;
    height: 464px;
    background: gray;
}
#footer{
    margin-top: 10px;
    height: 53px;
    background: rgb(207, 245, 68);
}

.four{
    width: 337px;
    height: 222px;
    background: white;
    float: left;
    margin: 5px;
}

#view{
    width: 294px;
    height: 227px;
    margin-bottom: 10px;
    background: rgb(15, 194, 185);
}

#contact{
    width: 294px;
    height: 227px;
    background: slateblue;
}