img{
	display: block;
}
#container{
    width: 1002px;
/*    background: gray;
    margin: 0 auto;
*/
}
#header{
    height: 128px;
    background: brown url(images/top_bg.jpg);
}
#nav li{
	list-style: none;
	float: left;
	margin-right: 2px;
	width: 90px;
	height: 37px;
}
#nav li a:link {
    display: block;
    width: 90px;
    height: 37px;
    line-height: 37px;
    background: url(images/nav_bg.gif);
    text-align: center;
    color: #363636;
/* 
font:必须加字体，否则可能引来解析错误
 */
 font: 15px/37px simhei;
}
#nav li a:visited{
    color: #363636;
}
#nav li a:hover{
    background: url(images/nav_on.gif);
    color: #FFF;
}
#banner{
    width: 1000px;
    height: 237px;
   /* background: blue;  */
    margin: 8px 0;
    padding: 0 1px;
}
form{
    float: right;
    margin-top: 11px;
    margin-right: 10px;
    padding-right: 30px;
}
form p{
    float: left;
}
#seach{
    width: 200px;
    border: 0;
    color: #808080;
}

#main{
    height: 464px;
    /* background: green; */
}
#lside{
    width: 694px;
    float: left;
    height: 464px;
 /*   background: pink;  */
}
#bigtitle{

    width: 694px;
    height: 36px;
    background: gray url(images/index_main_top_bg.gif) repeat-x;
}
#bigtitle img{
    float: left;
    margin: 4px 10px 0 10px;
}
#bigtitle h1{
    font: 16px/36px Arial,"微软雅黑",sans-serif;
    float: left;
    color: #808080;
}
.more{
    margin-right: 10px;
    float: right;
    font: 12px/36px  Arial,"黑体",sans-serif;
    color: #808080;
}
a.more:hover{
    color: #ff832c;
}
#rside{
    width: 294px;
    float:right;
    height: 464px;
    background: gray;
}
#footer{
    color:#808080;
    margin-top: 10px;
    height: 60px;
/*    background: rgb(207, 245, 68);   */
}
#footer ul{
    padding-left: 10px;
    width: 992px;
    height: 35px;
    background: url(images/footcorner_left_bg.gif);
}
#footer li{
    height: 35px;
    float: left;
}
#footer li a{
    color:#808080;
}
#footer li a:link {
    font: 14px/35px "微软雅黑",serif;
}
#footer li a:hover{
    color: #ff832c;
}
#footer p{
    font: 12px/29px "Times New Roman","宋体";
}
#footer p a{
    color:#ff832c;
}
#footer p a:hover{
    color: #808080;
}
.four{
    width: 337px;
    height: 204px;
    background: #EEE;
    float: left;
    margin: 5px;
}
.four h2{
    color: #A0A0A0;
    font: 16px/19px Arial,"微软雅黑","黑体",sans-serif;
    margin: 12px 0 0 11px;
}
.four img{
    float: left;
    border: solid 5px #FFF;
    margin-left: 10px;
}
.four ul{
    float:left;
}
.four ul li {
    padding-left: 12px;
    background: url(images/service_intro_bg.gif) no-repeat left center;
    margin-bottom: 10px;
}
.four ul li a{
    font: 12px "Times New Roman","宋体",serif;
    color: #808080;
}
.four ul li a:hover{
    text-decoration: underline;
}
#view{
    width: 294px;
    height: 227px;
    margin-bottom: 10px;
    background: rgb(15, 194, 185);
}
#contact{
    width: 294px;
    height: 227px;
    background: rgb(54, 54, 194);
}