img{
	display: block;
}
#container{
    width: 1002px;
/*    background: gray;
    margin: 0 auto;
*/
}
#header{
    height: 128px;
    background: brown url(images/top_bg.jpg);
}
#nav li{
	list-style: none;
	float: left;
	margin-right: 2px;
	width: 90px;
	height: 37px;

}
#nav li a:link {
    display: block;
    width: 90px;
    height: 37px;
    line-height: 37px;
    background: url(images/nav_bg.gif);
    text-align: center;
/* 
font:必须加字体，否则可能引来解析错误
 */
 font: 15px/37px simhei;
}

#nav li a:visited{
    color: #363636;
}

#nav li a:hover{
    background: url(images/nav_on.gif);
    color: #FFF;
}

#banner{
    width: 1000px;
    height: 237px;
   /* background: blue;  */
    margin: 8px 0;
    padding: 0 1px;
}
#main{
    height: 464px;
    /* background: green; */
}
#lside{
    width: 694px;
    float: left;
    height: 464px;
    background: pink;
}
#rside{
    width: 294px;
    float:right;
    height: 464px;
    background: gray;
}
#footer{
    margin-top: 10px;
    height: 53px;
    background: rgb(207, 245, 68);
}

.four{
    width: 337px;
    height: 222px;
    background: white;
    float: left;
    margin: 5px;
}

#view{
    width: 294px;
    height: 227px;
    margin-bottom: 10px;
    background: rgb(15, 194, 185);
}

#contact{
    width: 294px;
    height: 227px;
    background: slateblue;
}